
@{
    ViewBag.Title = "IndexAboutUs";
    //Layout = "~/Views/Shared/_HomePage.cshtml";
}

<html>
<head>
    <link rel="stylesheet" href="@Url.Content("~/HomeForm/AboutUsForm/about.css")">
    <script src="https://kit.fontawesome.com/8665d64aee.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="banner">
        <div class="content">
            <h1>About Us</h1>
            <p>Những Điều Bạn Có Thể Muốn Biết Thêm Về The Viet</p>
        </div>
    </div>
    <div class="highlight">
        <h1>GIỚI THIỆU VỀ CHÚNG TÔI</h1>
        <p>Trải nghiệm đường sắt độc đáo tại Việt Nam, kết hợp lịch sử với thiên nhiên, vẻ đẹp với sự sang trọng và cảm giác phấn khích với sự thanh bình. Chuyến tàu 12 khách này là một chuyến tàu hạng sang ở Việt Nam, trong một hành trình kéo dài mang lại cho du khách trải nghiệm thú vị trên đường ray.</p>
        <p>Lấy cảm hứng từ vẻ đẹp của Việt Nam và sự sang trọng của du lịch đường sắt cổ điển, sáu khoang rộng rãi của The Viet có hai chỗ ngồi thoải mái bên cửa sổ, mang đến cho du khách trên tàu tầm nhìn ra vùng đồng bằng xanh tươi, núi rừng và bờ biển lấp lánh nắng vàng của Việt Nam. Toa tàu có thiết kế đẹp mắt này còn có quầy bar ngồi riêng, ẩm thực sành điệu, phòng vệ sinh riêng và khu vực dành riêng cho các liệu pháp thư giãn đầu và vai.</p>
    </div>
    <div class="flip-box">
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <img src="https://i-english.vnecdn.net/2018/01/11/train-1515658271-6135-1515658273.jpg" alt="Paris" style="width:100%;height:100%">
            </div>
            <div class="flip-box-back">
                <h2>Việt Nam</h2>
                <p>Là Đất Nước Ven Biển Và Có Địa Hình Đa Dạng Cùng Với Nhiều Loài Thực Vật Phong Phú</p>
            </div>
        </div>
    </div>
    <div class="highlight2-header"><h1><i class="fas fa-crown"></i> Một Số Thông Tin Về Khoang Hạng 1 <i class="fas fa-crown"></i></h1></div>
    <div class="highlight2">
        <div class="highlight-img">
            <img src="https://www.thevietagetrain.com/wp-content/uploads/2020/07/TheVietage_AboutTheVietage_V.jpg" />
        </div>
        <div class="highlight2-service">
            <h1>Tính Năng Và Tiện Ích</h1>
            <p><i class="fas fa-square"></i> Tủ rượu</p>
            <p><i class="fas fa-square"></i> Quầy bar</p>
            <p><i class="fas fa-square"></i> Thực đơn tuyển chọn hương vị Việt Nam</p>
            <p><i class="fas fa-square"></i> Các loại nước</p>
            <p><i class="fas fa-square"></i> Khu vực dành riêng để trị liệu thư giãn đầu và vai</p>
            <p><i class="fas fa-square"></i> Ổ cắm điện và đế sạc</p>
            <p><i class="fas fa-square"></i> WiFi miễn phí</p>
            <p><i class="fas fa-square"></i> Các lựa chọn ăn uống bổ sung (Đặt Trước)</p>
            <p><i class="fas fa-square"></i> Có thực đơn dành riêng cho trẻ em</p>

        </div>
        <div class="highlight-img1">
            <img src="https://www.telegraph.co.uk/content/dam/Travel/2016/October/lux%20Seven%20Stars.jpg" />
        </div>
        <div class="highlight2-journeys">
            <h1>HÀNH TRÌNH</h1>
            <p>Khi tất cả đã lên tàu, các tiếp viên của chúng tôi sẽ phục vụ đồ uống – bạn có thể thoải mái ngồi tại quầy bar hoặc chỗ ngồi cạnh cửa sổ của mình. Dọc đường đi, hãy nhâm nhi ly rượu vang và thưởng thức hương vị của Việt Nam khi bạn du hành qua khung cảnh ngoạn mục, thưởng ngoạn những cảnh quan đẹp như trên những tấm bưu thiếp. Tùy thuộc vào từng mùa, bạn có thể ngắm nhìn cảnh quan xanh tươi hoặc những ngày ngập nắng rạng rỡ.</p>
            <p>Trong khung cảnh thiên nhiên lộng lẫy của Việt Nam, bạn cũng có thể bắt gặp những loài thực vật và động vật bản địa, những nét lịch sử cổ xưa hoặc cuộc sống hàng ngày của người dân địa phương. Những cây hoa đại rực rỡ. Trâu nước gặm cỏ ngoài đồng. Những con sếu trắng bay trên bầu trời xanh. Tiếp viên sẽ cung cấp cho bạn một cuốn “Sách khám phá” cung cấp tất cả các hướng dẫn và thông tin bạn cần để có một hành trình đầy vui thú và thoải mái.</p>
        </div>
    </div>
    <div class="contact-box">
        
            <h1>Contact Us</h1>
        
        <p><i class="fas fa-envelope"></i> anh.lp.a1908g03@aptechlearning.edu.vn</p>
        <p><i class="fas fa-phone-square-alt"></i> 0936495599</p>
        <p><i class="fas fa-map-marker-alt"></i> IA20 Ciputra,Hà Nội,Việt Nam</p>
        <p class="social"><i class="fab fa-facebook"></i></p>
        <p class="social1"><i class="fab fa-instagram"></i></p>
        <p>Social : </p>

    </div>
</body>
</html>

<style>
    *{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
.banner{
    /*background-image: linear-gradient(#141e30,#243b55);*/
    background: #5f2c82;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 108.7%;
    height: 70vh;
    margin-left:-128px
}
.content{
    margin-left: 240px;
    width: 85%;
    position: absolute;
    top: 30%;
    transform: translateY(-40%);
    text-align:center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
    font-family:'Times New Roman';
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size:20px;
}
.highlight p{
    font-size:18px;
}
.highlight h1{
    font-family:'Times New Roman';
    margin-left: 500px;
    
}
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin-left: 425px;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 200%;
  height: 150%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background:linear-gradient(#232526,#414345);
  color: black;
}

/* Style the back side */
.flip-box-back {
  background:linear-gradient(#232526,#414345);
  color: white;
  transform: rotateY(180deg);
}
.highlight2-service{
    
    padding-left:820px;
    background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin-left:-120px;
    width:108.2%;
    height: 520px;
}
.highlight-img img{
    width: 40%;
    height: 480px;
    position:absolute;
    margin:50px;
    margin-left:70px;
}
.highlight2-journeys{
   padding-right: 900px;
   padding-top:20px;
   margin-left: 20px;

}
.highlight-img1 img{
    width: 40%;
    position:absolute;
    margin-left: 770px;
    margin-top : 100px
}
.highlight2-header{
    position:absolute;
    padding-top:100px;
    padding-left:250px;
    margin-left:140px;
   
}
.highlight2{
    padding-top:200px
}
.highlight2-header h1{
    font-family:'Times New Roman';
}
.highlight2-journeys h1{
    font-family:'Times New Roman';
    margin-left:70px;
}
.highlight2-service h1{
    font-family:'Times New Roman';
    color: #fff;
    margin-left:90px;
    
}
.highlight2-service p{
    font-size: 18px;
    padding-top:12px;
    color: #fff;
    margin-left:90px;
}
.highlight2-journeys p{
    font-size:18px;
    margin-left:70px;
}
.contact-box{
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin-left:-120px;
    width:108.2%;
    height: 300px;
    margin-top:30px;
}
.contact-box p{
    
    padding-top:20px;
    font-size:19px;
    color: #fff;
    margin-left:130px;
}
.contact-header{
    position: absolute;
}
.contact-box .social{
    position:absolute;
    padding-top:20px;
    margin-left: 200px;
}
.contact-box .social1{
    position:absolute;
    padding-top:20px;
    margin-left: 250px;

}
.contact-box h1{
    color:#fff;
    margin-top: 25px;
    padding-top:20px;
    margin-left:750px;
}

</style>