
@{
//ViewBag.Title = "LoginGuest";
}
<html>
<head>
    <link rel="stylesheet" href="@Url.Content("~/HomeForm/LoginRegisterUser/LoginGuest.css")">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="hero">
        <div class="form-box">

            <form id="login" class="input-group">
                <input type="text" class="input-field" placeholder="Account"  required />
                <input type="password" class="input-field" placeholder="Password" required />
                <button type="submit" class="submit-btn">Sign Up</button>
            </form>
        </div>
    </div>
</body>
</html>