
@{
    ViewBag.Title = "RegisterGuest";
}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="@Url.Content("~/Content/RegisterGuest.css")">
</head>
<body>
    <div class="hero">
        <div class="form-box">
            <h1>Register</h1>
            <form id="register" class="input-group">
                <input type="text" class="input-field" placeholder="Account" required />
                <input type="email" class="input-field" placeholder="Email" required />
                <input type="password" class="input-field" placeholder="Password" required />
                <button type="submit" class="submit-btn">Sign Up</button>
            </form>
        </div>
    </div>
</body>
</html>

