@{
    Layout = null;
}

<html>
<head>
    <link rel="stylesheet" href="@Url.Content("~/BookNowForm/booknow.css")">
    <script src="https://kit.fontawesome.com/8665d64aee.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="banner">
        <div class="content">
            <h1>About Us</h1>
            <p>Những Điều Bạn Có Thể Muốn Biết Thêm Về The Viet</p>
        </div>
    </div>
    <div class="contact-box">
        <center>
            <h1>Contact Us</h1>
        </center>
        <p><i class="fas fa-envelope"></i> anh.lp.a1908g03@aptechlearning.edu.vn</p>
        <p><i class="fas fa-phone-square-alt"></i> 0936495599</p>
        <p><i class="fas fa-map-marker-alt"></i> IA20 Ciputra,Hà Nội,Việt Nam</p>
        <p class="social"><i class="fab fa-facebook"></i></p>
        <p class="social1"><i class="fab fa-instagram"></i></p>
        <p>Social : </p>

    </div>
    <style>
        .contact-box {
            background-image: linear-gradient(#70e1f5,#ffd194);
            margin-left: -120px;
            width: 121.1%;
            height: 300px;
            margin-top: 30px;
        }

            .contact-box p {
                padding-top: 20px;
                font-size: 19px;
                color: #009688;
            }

        .contact-header {
            position: absolute;
        }

        .contact-box .social {
            position: absolute;
            padding-top: 20px;
            margin-left: 70px;
        }

        .contact-box .social1 {
            position: absolute;
            padding-top: 20px;
            margin-left: 110px;
        }
    </style>
</body>
</html>
