@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <link rel="stylesheet" href="@Url.Content("~/Content/index.css")">
    <script src="https://kit.fontawesome.com/8665d64aee.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="banner">
        <div class="content">
            <h1>The Viet</h1>
            <p>Mua Vé The Viet Để Có Những Chuyến Tàu Thoải Mái Và An Toàn Nhất</p>
            <div>
                <button type="button"><span></span>ABOUT US</button>
                <button type="button"><span></span>LOGIN</button>
            </div>
        </div>
    </div>
    <div class="highlight">
        <div class="highlight-img">
            <img src="~/IMG/10.png" />
        </div>
        <div class="highlight-txt">
            <h1>HÃY BƯỚC LÊN TÀU THE VIET</h1>
            <p>Tham gia vào một chuyến du hành sang trọng bằng đường sắt qua những cảnh quan xanh mướt và đường bờ biển ngoạn mục của Việt Nam trên tàu The Viet. Hãy đặt vé tàu tại Việt Nam để tận hưởng sự thi vị của một chuyến du hành tuyệt vời bằng tuyến đường sắt kết nối nét đẹp cổ kính và bờ biển lấp lánh nắng vàng. The Viet kết hợp sự thoải mái cổ điển, cảnh quan ngoạn mục và những bữa ăn ngon miệng để mang lại cho bạn cảm hứng, sự sảng khoái và sẵn sàng cho điểm đến tiếp theo của bạn.</p>

        </div>
        <div class="highlight-img1">
            <img src="~/IMG/11.png"/>
        </div>
        
        <div class="highlight-txt1">
            <h1>NHỮNG DỊCH VỤ CƠ BẢN</h1>
            <p><i class="fas fa-wifi"></i> Wifi Miễn Phí</p>
            <p><i class="fas fa-plug"></i>Ổ Điện Tại Chỗ</p>
            <p><i class="fas fa-utensils"></i>Phục Vụ Đồ Ăn</p>
            <p><i class="fas fa-user-tie"></i>Đội Ngũ Nhân Viên Chu Đáo</p>
        </div>
    </div>
        <div class="contact-box">
            <center>
                <h1>Contact Us</h1>
            </center>
            <p><i class="fas fa-envelope"></i> anh.lp.a1908g03@aptechlearning.edu.vn</p>
            <p><i class="fas fa-phone-square-alt"></i> 0936495599</p>
            <p><i class="fas fa-map-marker-alt"></i> IA20 Ciputra,Hà Nội,Việt Nam</p>
            <p class="social"><i class="fab fa-facebook"></i></p>
            <p class="social1"><i class="fab fa-instagram"></i></p>
            <p>Social : </p>
            
        </div>
</body>
</html>